[tool.poetry]
name = "dyno-viewer"
version = "0.1.1"
description = ""
authors = ["Rowan Self <piesrule123@gmail.com>"]
readme = "README.md"
packages = [{include = "dyno_viewer"}]

[tool.poetry.dependencies]
python = "^3.9"
boto3 = "^1.26.135"
simplejson = "^3.19.1"
dynamodb-json = "^1.3"
textual = "^0.24.1"


[tool.poetry.group.dev.dependencies]
black = "^23.3.0"
ipykernel = "^6.22.0"
textual = {extras = ["dev"], version = "^0.24.1"}
pytest = "^7.3.1"
moto = {extras = ["all"], version = "^4.1.9"}
pytest-aiohttp = "^1.0.4"
pandas = "^1.5.3"
pytest-mock = "^3.10.0"
jupyterlab = "^3.6.3"
pytest-xdist = "^3.3.0"
toml = "^0.10.2"
pyinstaller = {version = "^5.11.0", python = ">=3.9,<3.12"}



[tool.poetry.group.build.dependencies]

[tool.pytest.ini_options]
asyncio_mode = "auto"
testpaths = ["tests"]

[tool.poetry.scripts]
dyno-viewer  = 'dyno_viewer.app:run'
build_local = 'scripts.commands:build_local'
flatpak_build = 'scripts.commands:build_flatpak'

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
