#queryScreen {
    layout: vertical;
    overflow-y: auto;
}

#queryScreen  Select{
    margin: 1 0;

}

#queryScreen  Button {
    margin: 1 1;

}

#keyFilter {
    margin: 1 1;
    background: $boost;
    border: heavy grey;
    height: 34;
}

#scanToggle {
    margin: 0 1;
    height: 4;
}


#keyFilter > #queryIndex {
    margin: 1 1;
    height: 4;
}




#keyFilter > #sortKeyFilter > #attr {
    margin: 1 1;

}


#queryScreen > FilterQuery {
    margin: 1  1;
    background: $boost;
    border: heavy grey;
    height: 25;
    overflow-y: auto;
}


